<% provide(:title, '新規登録(tip_genre)') %>
<div class="tip-genres">
  <div class="container">
    <span><h1 class="title">Add genre</h1></span>
    <div class="row">
      <div class="col-md-6 col-md-offset-3" style="color: #fff;">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>