.title {
    text-align: center;
    padding-bottom: 50px;
}
.index {
  .category {
   text-align: center;
  }
}
.tweet, .article {
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: thin solid #e1e8ed;
  .favorite_rank {
    padding-bottom: 20px;
    font-size: medium;
  }
  .tweet-content, .article-content {
    display: inline-block;
    vertical-align: middle;
    width:80%;
    padding-left: 20px;
  }
}
.first-tweet, .first-article {
  border-top: thin solid #e1e8ed;
}