<% provide(:title, 'プロフィール') %>
<div class="profile">
  <div class="jumbotron">
    <div class="container">
      <h2>プロフィール</h2>
      
      <div class="image-container">
        <%= image_tag("profileImage.jpg", :class => "profile-image", :align => "center") %>
      </div>
      
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="item">
            <h3>🖋 氏名 🖋️</h3>
            <h4 class="text-center">笹沼　啓(ささぬま　はじめ)</h4>
          </div>
          <div class="item">
            <h3>📮 住所 📮</h3>
            <h4 class="text-center">〒336-0034</br>埼玉県さいたま市南区内谷6-4-7</br>コスモ武蔵浦和グランデ209号</h4>
          </div>
          <div class="item">
            <h3>✉️ メールアドレス ✉️</h3>
            <h4 class="text-center">1e-vent_s0uff1e_0u-i1-veut@ezweb.ne.jp</h4>
          </div>
          <div class="item">
            <h3>🏫 所属 🏫</h3>
            <h4 class="text-center">千葉大学大学院</br>融合科学研究科情報科学専攻知能情報コース修士2年</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>