<% provide(:title, '新規登録(tip)') %>
<div class="tips">
  <div class="container">
    <span><h1 class="title">Add tip</h1></span>
    <div class="row">
      <div class="col-md-6 col-md-offset-3" style="color: #fff;">
        <div class="form">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>